:root {
    color-scheme: light dark;
    --bg-color: light-dark(#f1f1f1, #181818);
    --fg-color: light-dark(#e9e9e9, #282828);
    --text-color: light-dark(#3d3d3d, #f2f2f2);
    --font: "Roboto", sans-serif;
    --border-transition: border-color 0.2s;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    margin: 20px;
    padding: 20px;
}

hr {
    background-color: var(--fg-color);
    border: 2px solid var(--fg-color);
    border-radius: 2px;
    margin: 5px;
}

.header {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.main-content {
    font-size: 14px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.main-content textarea {
    background-color: var(--fg-color);
    border: 2px solid var(--fg-color);
    border-radius: 5px;
    transition: var(--border-transition);
    padding: 10px;
    width: 100%;
    height: 375px;
    box-sizing: border-box;
    resize: none;
}

.main-content textarea:focus {
    border-color: var(--text-color);
}

.main-content button {
    background-color: transparent;
    border: 2px solid var(--fg-color);
    border-radius: 5px;
    transition: var(--border-transition);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-content button:hover {
    border-color: var(--text-color);
}

.main-content .checkbox-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.main-content input[type="checkbox"] {
    width: 18px;
    height: 18px;
    accent-color: var(--text-color);
}

.main-content label {
    margin-left: 5px;
}

.main-content input {
    background-color: var(--fg-color);
    border: 2px solid var(--fg-color);
    border-radius: 5px;
    transition: var(--border-transition);
    padding: 10px;
    width: 95%;
}

.main-content input:focus {
    border-color: var(--text-color);
}

.footer {
    padding: 10px;
}
